@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    --button-color: #a1c5ff;
    --button-activated: cornflowerblue;
}

.header{
    color:navy;
    font-size: 45px;
}
.center{
    text-align:center;
    font-family: 'Quattrocento Sans', serif;
}


.center h2 {
    font: "Quattrocento Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.test {
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.button {
    background-color: var(--button-color);
    font-family: 'Quattrocento Sans', sans-serif;
    width: fit-content;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border-radius: 50px;
    padding: 20px;
    text-decoration: none;
    color: black;    
    margin: 0;
    transition: background 2s;
}

.button:hover {
    background-color: var(--button-activated);
}

.buttons {
    width: 100%;
    
    /* display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row; */
}


#buttons div {
    flex: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.aboutus h3{
    font-family: "Quattrocento Sans", sans-serif;
    color:black;
    text-align:center;
}

.aboutus p{
    font-family: "Quattrocento Sans", sans-serif;
    color:black;
    text-align:center;
}

