@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.header {
    font-family:'Quattrocento Sans', sans-serif; 
    text-align: center;
}

.center {
    width: 100%;
}

.map {
    text-align: center;
}

.map h2 {
     font-family: "Quattrocento Sans", sans-serif;
    text-align: center;
}

.map img {
    width: 700px;
}
